<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自定义Promise</title>
    <script src="../js/promise.js"></script>
</head>
<body>
    <script>
        const p = new Promise((resolve, reject) => {
            setTimeout(() => {
                resolve('Ok');
            }, 1000)
        })
        const p1 = Promise.resolve(new Promise((resolve, reject) => {
            resolve('Success');
        }));

        const p2 = Promise.resolve('Oh yeah');

        const p3 = Promise.all([p, p1, p2]);
        console.log(p3);
    </script>
</body>
</html>